@charset "UTF-8";
*{ margin: 0px;
padding: 0px;}
@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@200 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "CreamCake";
    src: url(font/CreamCake.otf) format("opentype");
}
@font-face {
    font-family: "CaviarDreams";
    src: url(font/CaviarDreams.ttf) format("truetype");}
    @font-face {
        font-family: "grandhotel";
        src: url(font/GrandHotel-Regular.otf) format("opentype");}
        :root{
            --font1:"CreamCake";
            --font2:"CaviarDreams";
            --font3:"grandhotel";
            --font4: 'Bebas Neue', cursive;
            --font5:  'Oswald', sans-serif;
            --cor1: #f8c004;
            --cor2: #0099c7;
            --cor3: #027091;
        }
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( to bottom,#fdf905, #d8a704);

}
header {
    background-image: linear-gradient(to bottom, #0099c7, #026886);
    text-align: center;
    padding: 20px;
}
header img{ 
    display: block;
    margin: auto;
   max-width: 60%;
   min-width: 30%;
}
nav>a{
    border-radius: 16px;
    font: 400 16px var(--font5);
    font-weight: normal;
    text-decoration: none;
    color: white;
     padding: 1px 10px 1px 10px; 
     line-height: 25px;
     margin: 20px 10px 20px 10px;
}
nav>a:hover{
    background-color: rgba(255, 255, 255, 0.137);
    padding: 3px 7px 3px 7px;
    color:#0b2868c2 ;
}
main{
    padding: 25px;
    background-color: white;
    max-width: 750px;
    margin: auto;
    height: 1030px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.479);
    border-radius: 0px 0px 10px 10px;
}
article{
    border: 1px solid  #027091;
    border-radius: 16px;
    margin: 16px;
    padding: 16px;
    height: auto;
}
h1{
    color: white;
    padding: 10px;
    margin: -17px;
    border-radius: 16px 16px 0px 0px;
    background-color: #0099c7;
    text-align: center;
    font: 30px var(--font2);
}

 img{
    display: block;
    max-width: 50%;
    margin: auto;
    padding:35px;  
}

article>p{
    text-align: justify;
    text-indent: 16px;
    line-height: 20px;
    font-family: var(--font2);
    margin: 16px;
}
main>section>article>div{
   text-align: center;
 
   
}
div>a{
    text-decoration: none;
    background-image: linear-gradient(to bottom,#01ace0, #5bd1f5 );
    color: white;
    padding: 5px;
    border-radius: 16px;
    font: bolder;
}
div>a:hover{
    background-image: linear-gradient(to bottom,#01ace0, #015f7c );
}
footer{
    font: 400 20px var(--font2);
    margin-top: 16px;
    background-image: linear-gradient(to top, #0099c7, #0283aa);
    text-align: center;
    color:white;
    padding: 16px;
    text-shadow:3px 3px 4px rgba(0, 0, 0, 0.267); 
}