@charset "UTF-8";
*{ margin: 0px;
padding: 0px;}
@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@200 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "CreamCake";
    src: url(font/CreamCake.otf) format("opentype");
}
@font-face {
    font-family: "CaviarDreams";
    src: url(font/CaviarDreams.ttf) format("truetype");}
    @font-face {
        font-family: "grandhotel";
        src: url(font/GrandHotel-Regular.otf) format("opentype");}
        :root{
            --font1:"CreamCake";
            --font2:"CaviarDreams";
            --font3:"grandhotel";
            --font4: 'Bebas Neue', cursive;
            --font5:  'Oswald', sans-serif;
            --cor1: #f8c004;
            --cor2: #0099c7;
            --cor3: #027091;
        }
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( to bottom,#fdf905, #d8a704);

}
header {
    background-image: linear-gradient(to bottom, #0099c7, #026886);
    text-align: center;
    padding: 20px;
}
header img{ 
    display: block;
    margin: auto;
   max-width: 60%;
   min-width: 30%;
}
a{  
    border-radius: 16px;
    font: 400 16px var(--font5);
    font-weight: normal;
    text-decoration: none;
    color: white;
     padding: 1px 10px 1px 10px; 
     line-height: 25px;
     margin: 20px 10px 20px 10px;
     
}
a:hover{
    background-color: rgba(255, 255, 255, 0.137);
    padding: 3px 7px 3px 7px;
    color:#0b2868c2 ;
    
}
main{
    background-color: white;
    max-width: 750px;
    margin: auto;
    height: auto;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.479);
    border-radius: 0px 0px 10px 10px;
}
main>section{ 
    margin: 0px 0px 0px 0px;
}
main> section> article{
    padding: 20px;
    position: relative;
   display:flex;
   align-items: center;
}
main> section> article>img{
    margin: auto;
    max-width: 20%;
}
main>section>article>div{
    padding: 0px 16px 16px 16px;
    text-indent: 10px;
    text-align: justify;
    line-height: 27px;
}
div>p,h1{
    font: 400 17px var(--font2);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.493);
}
div>h1{
    font: bolder 20px var(--font2);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.493);
}

.bgazul{
    background-color: #ffffff;
    margin: 0px; 
}
.bgbranco{
    color: white;
    background-color: rgba(255, 255, 255, 0.651);
    background-image:url(img/backgrounddiv.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
footer{
  
    font: 400 20px var(--font2);
    background-image: linear-gradient(to top, #0099c7, #0283aa);
    text-align: center;
    color:white;
    text-shadow:3px 3px 4px rgba(0, 0, 0, 0.267); 
    padding: 16px;
    margin-top: 16px;
}