@charset "UTF-8";
*{ margin: 0px;
padding: 0px;}
@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@200 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "CreamCake";
    src: url(font/CreamCake.otf) format("opentype");
}
@font-face {
    font-family: "CaviarDreams";
    src: url(font/CaviarDreams.ttf) format("truetype");}
    @font-face {
        font-family: "grandhotel";
        src: url(font/GrandHotel-Regular.otf) format("opentype");}
        :root{
            --font1:"CreamCake";
            --font2:"CaviarDreams";
            --font3:"grandhotel";
            --font4: 'Bebas Neue', cursive;
            --font5:  'Oswald', sans-serif;
            --cor1: #f8c004;
            --cor2: #0099c7;
            --cor3: #027091;
        }
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( to bottom,#fdf905, #d8a704);

}
header {
    background-image: linear-gradient(to bottom, #0099c7, #026886);
    text-align: center;
    padding: 20px;
}
header img{ 
    display: block;
    margin: auto;
   max-width: 60%;
   min-width: 30%;
}
nav>a{
    border-radius: 16px;
    font: 400 16px var(--font5);
    font-weight: normal;
    text-decoration: none;
    color: white;
     padding: 1px 10px 1px 10px; 
     line-height: 25px;
     margin: 30px 10px 30px 10px;
}
nav>a:hover{
    background-color: rgba(255, 255, 255, 0.137);
    padding: 1px 10px 1px 10px;
    color:#0b2868c2 ;
}
main{
    display:flex;
    align-items: center;
    background-color: white;
    max-width: 750px;
    margin: auto;
    height: 700px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.479);
    border-radius: 0px 0px 10px 10px;
}
main>section{ 
    background-color: #0098c7d5;
    padding: 25px;
   border-radius: 6px;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.479);
  
}
main>section>article>h1{
    font:45px var(--font1);
    color: white;
    text-shadow:1px 1px 9px rgba(0, 0, 0, 0.733);
    text-align: center;
    padding: 16px;
}
main>section>article>p{
  
   text-indent: 16px;
   line-height: 30px;
   font: 400 20px var(--font2);
    text-align: justify;
    padding: 5px;
    color: white;
    text-shadow:2px 2px 5px rgba(0, 0, 0, 0.733); 
}


footer{
    font: 400 20px var(--font2);
    margin-top: 16px;
    background-image: linear-gradient(to top, #0099c7, #0283aa);
    text-align: center;
    color:white;
    padding: 16px;
    text-shadow:3px 3px 4px rgba(0, 0, 0, 0.267); 
}